<%= render :partial => "side_bar/user", :locals =>{}%>

<div class="content-center">
	<div class="user-info">
		<%= render :partial=>"users/user_info", :locals=>{:user=>@user} %>
	</div>

	<div class="user-title">
		<h4><%= @user.username%> 's profile</h4>
	</div>

	<div class="user-content user-profile">
		<% if @user == current_user  %>
		<%= link_to "Back to user", user_profile_path(@user)%>
		<% end %>

	<%= form_for @user, :url=> user_profile_path(@user), :method=>:patch, :html => { :multipart => true } do |f|%>
		<%= f.fields_for :user_profile, @user.user_profile do |u| %>
		<table class="table">
			<tr>
				<td><%= f.label :username, "username" %> </td>
				<td><%= f.text_field :username %> </td>
			</tr>
			<tr>
				<td><%= u.label :first_name, "First Name" %> </td>
				<td><%= u.text_field :first_name %> </td>
			</tr>
			<tr>
				<td><%= u.label :last_name, "Last Name" %> </td>
				<td><%= u.text_field :last_name %> </td>
			</tr>
			<tr>
				<td><%= u.label :english_name, "English Name" %> </td>
				<td><%= u.text_field :english_name %> </td>
			</tr>
			<tr>
				<td><%= u.label :birthdate, "Birth Date" %> </td>
				<td><%= u.text_field :birthdate %> </td>
			</tr>
			<tr>
				<td><%= u.label :intro, "Intro" %> </td>
				<td><%= u.text_area :intro %> </td>
			</tr>

			<tr>
				<td><%= u.label :image, "Image" %> </td>
				<td>
				<% unless @user.user_profile.image.exists? %>
					<%= u.file_field :image %>
				<% else %>
					<%= check_box_tag "destroy_image", "1" %> 刪除檔案
				<% end %>	
				</td>
			</tr>

			<tr>
				<td>		

				</td>
			</tr>

			<tr><td>Total visit</td><td><%= @user.post_articles.count %></td></tr>
			<tr><td>Total posting articles</td><td><%= @user.post_articles.count	%></td></tr>
			<tr><td>Total replying articles</td><td><%= @user.reply_articles.count %></td></tr>
		</table>
		<%= f.submit "Update" %>
		<% end %><!-- fields_for -->
	<% end %><!-- form for -->
	</div>
</div>

