<%= render :partial => "side_bar/user", :locals =>{}%>

<div class="content-center">
	<div class="user-info">
		<%= render :partial=>"users/user_info", :locals=>{:user=>@user} %>
	</div>

	<div class="user-title">
		<h4><%= @user.username%> 's profile</h4>
		<% if @user == current_user  %>
			<%= link_to "Edit",edit_user_profile_path(@user), :class=>"btn btn-info"%>
		<% end %>

		<% if @friendship == nil %>
			<%= link_to "Add Friend",send_invitation_friend_path(@user), :remote=>true, :class=>"btn btn-info"%>
		<% elsif @friendship == "pending" %>
			<%= link_to "Add Friend",accept_invitation_friend_path(@user), :remote=>true, :class=>"btn btn-info"%>
		<% else %>
			Your friend
		<% end %>
	</div>
		
		<p class="friend"> <%= render :partial=>"friends/friend_button", :locals=>{:user=>@user,:friendship_status =>@friendship_status}%> </p>

	<div class="user-content user-profile">
		<table class="table">
			<tr>
				<td>First Name</td>
				<td><%= @user.user_profile.try(:first_name)  %></td>
			</tr>
			<tr><td>Username</td><td><%= @user.username %></td></tr>
			<tr><td>Last Name</td><td><%= @user.user_profile.try(:last_name)		%></td></tr>
			<tr><td>English Name</td><td><%= @user.user_profile.try(:english_name)%></td></tr>
			<tr><td>Birthdate</td><td><%= @user.user_profile.try(:birthdate)   %></td></tr>
			<tr><td>Intro</td><td><%= @user.user_profile.try(:intro)   %></td></tr>
			<tr><td>Total visit</td><td><%= @user.post_articles.count %></td></tr>
			<tr><td>Total posting articles</td><td><%= @user.post_articles.count	%></td></tr>
			<tr><td>Total replying articles</td><td><%= @user.reply_articles.count %></td></tr>
		</table>
	</div>
</div>

