
<div class="row article-info"><div class="col-md-offset-2 col-md-8">
	<p><%= link_to "Forum",forums_path, :class=>"glyphicon glyphicon-home" %></p>
	<h2><%= @article.title %></h2>
	<h4>Poster: <%=@article.user.username %></h4>
</div></div>

<div class="row article-content"><div class="col-md-offset-2 col-md-8">
	<p><%= @article.content %></p>
</div></div>

<div class="row article-comment"><div class="col-md-offset-2 col-md-8">
	<div class="article-comment-title">
		<div class="article-comment-title-word"><h4>Reply</h4></div>


		</div>
	<div class="article-comment-reply "><h4>
		<%= if current_user 
					"Comment"
				else
					"login to reply"
				end
		%></h4>
	</div>
	
	<table class="table">
		<% @article.comments.each do |c| %>
			<tr><td> <%= c.user.username %></td><td> <%=c.content %> </td></tr>
		<% end %>
	</table>
</div></div>
