
<div class="title">
	<h4>Reply</h4>
	<%= content_tag(:div, "", :class=>"note") %>
</div>


<div class="post">
	<% if current_user %>
		<% if comment.new_record? %>
			<%= form_for comment, :url => article_comments_path(article), :remote=> true do |form| %>
			<%= form.label :content,("Hi #{link_to current_user.username, user_path(current_user)}, post your comment").html_safe %>

				<br>
				<%= form.text_area :content, :class=>"text-area" %>
				<br>
				<%= form.submit "Post", :class=>"btn btn-primary done"%>
			<% end %><!-- form for -->


		<% else %>
			<%= form_for comment, :url => article_comment_path(article, comment), :method => :patch, :remote=>true do |form| %>
			<%= form.label :content,("Hi #{link_to current_user.username, user_path(current_user)}, post your comment").html_safe %>
			<br>
			<%= form.text_area :content, :class=>"text-area" %>
			<br>
			<%= form.submit "Post", :class=>"btn btn-primary done"%>
			<% end %><!-- form for -->

		<% end %><!-- comment.new_record? -->



	<% else %>
		<%= link_to "Sign-in to post your comment", user_session_path, :class=>"btn btn-primary" %>

	<% end %><!-- if current_user  -->

</div><!-- post -->


<table class="table">
	<tr class="table-head">
		<th>Poster</th>
		<th>Comment</th>
		<th>Post time</th>
		<th></th>
		<th></th>
	</tr>

<% if comments.count>0 %>
	<% comments.each do |c| %>
	<tr>
		<td> <% if c.user %> 
			<%= link_to c.user.username, user_path(c.user) %>
			<% end %>
		</td>
		<td> <%=c.content %> </td>
		<td> <%=time_ago_in_words(c.updated_at) %></td>
		<td> <%= if c.user == current_user 
					 link_to "Edit", edit_article_comment_path(article, c) , :remote=>true
					 end %>
		</td>
		<td> <%= if c.user == current_user
					 link_to "Delete", article_comment_path(article, c), :method=>"delete", :remote=>true, :data=>{:confirm=>"Are you sure?"}, :id=>"comment-#{c.id}"
					 end %>

	  </td>
	</tr>
	<% end %><!-- @comments -->

<% else %>

	<tr class="no-reply">
		<td colspan="5">
			<p>No any reply</p>
		</td>
	</tr>

<% end %><!-- if @comments.count>0 -->

</table>


