<%c = @comment %>
<tr>
	<td> <% if c.user %> 
		<%= link_to c.user.username, user_path(c.user) %>
		<% end %>
	</td>
	<td> <%=c.content %> </td>
	<td> <%=c.updated_at %></td>
	<td> <%= if c.user == current_user 
				 link_to "Edit", article_path(c.article, :comment_id=>c.id) 
				 end %>
	</td>
	<td> <%= if c.user == current_user
				 link_to "Delete", comment_path(c.article, :comment_id=>c.id), :method=>"delete", :remote=>true, :data=>{:confirm=>"Are you sure?"}, :id=>"comment-#{c.id}"
				 end %>


  </td>
</tr>

