
<table class="article-form-table">
	<tr>
		<td class="article-form-category-item">
			<%= form.label :title, "Title" %>
		</td>
		<td class="article-form-category-input">
			<%= form.text_field :title %>
		</td>
	</tr>

	<tr class="article-form-category">
		<td class="article-form-category-item" >
			<%= form.label :category_id, "Class" %>
		</td>
		<td class="article-form-category-input">
			<%= form.collection_check_boxes(:category_ids, Category.all, :id, :name,:class=>"article-form-category-checkbok") %>
		</td>
	</tr>


	<tr>
		<td class="article-form-category-item">
			<%= form.label :content, "Content" %>
		</td>
		<td class="article-form-category-input">
			<%= form.text_area :content %>
		</td>
	</tr>
</table>



