
	<div class="unit title">
		<div class="key">
			<%= form.label :title, "Title" %>
		</div>
		<div class="value">
			<%= form.text_field :title %>
		</div>
	</div>

	<div class="unit category">
		<div class="key">
		<%= form.label :category_id, "Class" %>
		</div>
		<div class="value">
		<%= form.collection_check_boxes(:category_ids, Category.all, :id, :name,:class=>"article-form-category-checkbok") %>
		</div>
	</div>

	<div class="unit tag">
		<div class="key">
			<%= form.label :tag_list, "Tag" %>
		</div>
		<div class="value">
			<%= form.text_field :tag_list %>
		</div>
	</div>

	<div class="unit content">
		<div class="key">
		<%= form.label :content, "Content" %>
		</div>
		<div class="value">
		<%= form.text_area :content %>
		</div>
	</div>



