
<div class="row article-edit-title"><div class="col-md-offset-1 col-md-10">
	<h1>You're editting the article</h1>
	<% if @article.status == "published" %>
	<p class="article-edit-message-published"> Published at <%= @article.updated_at %> </p>
	<% else %>
	<p class="article-edit-message-draft"> Not published yet </p>
	<% end %>
</div></div>

<div class="row"><div class="col-md-offset-1 col-md-10">
	<%= form_for @article, :url=>article_path, :method=>:patch do |form| %>

		<%= render :partial => "post_form", :locals =>{:form=>form}%>

		<% if @article.status == "published" %>
			<%= form.submit "Update", :class=>"btn btn-warning"%>
	
		<% elsif @article.status == "draft" %>
			<%= form.submit "Publish", :class=>"btn btn-warning"%>
			<%= form.submit "Save", :class=>"btn btn-info"%>
		<% end %>
		<%= link_to "cancel",article_path, :class=>"btn btn-primary"%>
	<% end %>
</div></div>

