
<%= render :partial => "side_bar/category", :locals =>{:path=>"back"}%>

<div class="content-center">
	
	<div class="article-meta">
		<div class="info">
			<!-- show information -->	
			<h2 class="title">You're editting the article</h2>

			<!-- poster -->
			<div class="user">
				<div><%= image_tag avatar_url(current_user)%></div>
				<p class="poster">Poster: <%=current_user.username %></p>
			</div>
		
			<div class="status">
				<% if @article.published? %>
					<p> Published at <%= @article.updated_at %> </p>
				<% else %>
				<p> Not published yet </p>
				<% end %>
			</div>
		</div>

		<div class="edit-it">
		</div><!-- edit-it -->
	</div><!-- article-meta -->

	<div class="single-article-content">
		<%= form_for @article, :url=>article_path, :method=>:patch do |form| %>

			<%= render :partial => "post_form", :locals =>{:form=>form}%>

		<div class="do-it">
			<% if @article.status == "published" %>
				<%= form.submit "Update", :class=>"btn btn-warning"%>
		
			<% elsif @article.status == "draft" %>
				<%= form.submit "Publish", :class=>"btn btn-warning"%>
				<%= form.submit "Save", :class=>"btn btn-info"%>
			<% end %>
			<%= link_to "cancel",article_path, :class=>"btn btn-primary"%>
		</div>
		<% end %><!-- form -->
	<div><!-- article-content -->

</div><!-- content-center -->


