
<%= render :partial => "side_bar/category", :locals =>{:path=>"post"}%>


<div class="content-center">

	<div class="article-title">
		<h1>
			<% if @active_category %>
			<%= @active_category.name %>
			<% else %>
			All
			<% end %>
		</h1>
	</div><!--article-title -->

	<div class="article-content">
		<div class="paginate">
			<%= paginate @articles %>
		</div>
		<table class="table table-hover">
			<tr class="">
				<th class="index text-center"></th>
				<th class="topic text-center">Topic</th>
				<th class="category text-center">Category</th>
				<th class="poster text-center">Post User</th>
				<th class="date text-center">
						<%= link_to "Date Time",articles_path(order: :datetime) %>
				</th>
				<th class="comment text-center">
						<%= link_to "Comment",articles_path(order: :comment) %>
				</th>
				<th class="views text-center">
						<%= link_to "Views",articles_path(order: :views)%>
				</th>
			</tr>

				<% @articles.each_with_index do |a, index| %>
			<tr>
				<td>
					<%= @page*@per+index+1 %>
				</td>

				<td>
					<%= link_to a.title, article_path(a) %>
				</td>

				<td class="text-center">
					<% category = ''%>
					<% a.categories.each do |c| %>
					<%	category += c.name+' ' %>
					<% end %>
					<p><%=category %></p>
				</td>

				<td class="text-center">
					<% if a.user %>
					<%= link_to a.user.username, user_path(a.user) %>
					<% end %>
				</td>

				<td class="text-center">
					<% date = a.updated_at %>
					<%= "#{date.year}/#{date.month}/#{date.day} #{date.hour}:#{date.min}:#{date.sec}" %>
				</td>

				<td class="text-center"><%= a.comments.count%>
				</td>

				<td class="text-center"><%= a.article_views.count%>
				</td>				

			</tr>
				<% end %><!-- @articles.each -->
		</table>
	</div><!-- article-content -->
</div>

