
<%= render :partial => "side_bar/category", :locals =>{:path=>"post"}%>


<div class="content-center">

	<div class="article-title">
		<h1>
			<% if @category %>
				<%= @category.name %>
			<% else %>
			All
			<% end %>
		</h1>
	</div><!--article-title -->

	<div class="article-content">
		<div class="paginate">
			<%= paginate @articles %>
		</div>
		<table class="table table-hover">
			<tr>
				<th class="index text-center"></th>
				<th class="topic text-center">Topic</th>
				<th class="category text-center">Category</th>
				<th class="poster text-center">Post User</th>
				<th class="date text-center">
						<%= link_to "Posted date",articles_path(order: :updated_at) %>
				</th>
				<th class="last_comment text-center">
						<%= link_to "Last comment",articles_path(order: :last_comment) %>
				</th>
				<th class="comment text-center">
						<%= link_to "Comment",articles_path(order: :comment) %>
				</th>
				<th class="views text-center">
						<%= link_to "Views",articles_path(order: :views)%>
				</th>
			</tr>

				<% @articles.each_with_index do |a, index| %>
			<tr data-reorder-url="<%= move_article_path(a) %>">
				<td>
					<%= get_serial(@articles, index) %>
				</td>

				<td>
					<%= link_to a.title, article_path(a) %>
				</td>

				<td class="text-center">
					<p><%= display_category(a.categories) %></p>
				</td>

				<td class="text-center">
					<% if a.user %>
						<%= link_to a.user.username, user_path(a.user) %>
					<% end %>
				</td>

				<td class="text-center">
					<%= a.updated_at.to_s(:short) %>
				</td>

				<td class="text-center">
					<%= a.last_comment_at.try(:to_s, :short) %>
				</td>

				<td class="text-center">
					<%= a.comments_count %>
				</td>

				<td class="text-center">
					<%= a.views_count %>
				</td>				

			</tr>
				<% end %><!-- @articles.each -->
		</table>
	</div><!-- article-content -->
</div>


<script>
$('.article-content table').sortable({
	items:"tr",
	update: function(event,ui){
		url = ui.item.data("reorder-url");
		console.log(url);
		console.log(ui.item);

		$.ajax({
			type:'post',
			url:url,
			dataType: 'json',
			data:{
				position:ui.item.index()
			}
		});

	}
});

</script>


