<%= render :partial => "side_bar/category", :locals =>{:path=>"back"}%>

<div class="content-center">
	
	<div class="article-meta">
		<div class="info">
			<!-- show information -->
			<h2 class="title"> New Article</h2>

				<!-- poster -->
			<div class="user">
				<div><%= image_tag avatar_url(current_user)%></div>
				<p class="poster">Poster: <%=current_user.username %></p>
			</div>

		</div><!-- user_info -->

		<div class="status">
			<p>New article</p>
		</div>

		<div class="edit-it">
		</div><!-- edit-it -->
	</div><!-- article-meta -->


	<div class="single-article-content">
		<%= form_for @article, :url=>articles_path do |form| %>

		<%= render :partial => "post_form", :locals =>{:form=>form}%>
	
		
		<div class="do-it">
			<%= form.submit "Publish", :class=>"btn btn-warning"%>
			<%= form.submit "Save", :class=>"btn btn-info"%>
			<%= link_to " Cancel", articles_path,:class=>"btn btn-default"%>
		</div>

		<% end %><!-- form -->
	</div><!-- article-content -->

</div><!-- content-center -->


