

<div class="content-left">
	<div class="do-it">
		<%= link_to "Back to Forum",articles_path, :class=>"btn btn-primary" %>
	</div>

	<ul class="list">
		<%= @active_category_id ==0 ? "<li class='content-left-hightlighted separate'>".html_safe : "<li>".html_safe%> 
			<%= link_to "All", articles_path %>

		</li>
		<%  @categories.each_with_index do |c,index| %>

			<%= @active_category_id ==index+1 ? "<li class='content-left-hightlighted'>".html_safe : "<li>".html_safe%> 
			<%= link_to c.name, articles_path(:category_id=>index+1) %>
		</li>
		<% end %>
	</ul>
</div><!-- content-left -->


<div class="content-center">
	
	<div class="article-meta">
		<div class="info">
			<!-- show information -->
			<h2 class="title"><%= @article.title %></h2>

			<!-- poster -->
			<div class="user">
				<div><%= image_tag avatar_url(@article.user)%></div>
				<p class="poster">Poster: <%=@poster.username %></p>
			</div>

			<div class="status">
				<p>publised at <%= @article.updated_at %></p>
			</div>

	<% if @article.user == current_user %>
	<p class="article-show-info-edit"><%= link_to "Edit",edit_article_path,:class=>"btn btn-info"%></p>
	<% end %>
	<% if @article.user == current_user || current_user.role = "admin" %>
	<p class="article-show-info-delete"><%= link_to "Delete",article_path, :method=>"delete", :class=>"btn btn-danger", :data=>{:confirm=>"Are you sure?"}%></p>
	<% end %>

		</div><!-- user-info -->

		<div class="edit-it">
			<!-- add or remove favroite -->
			<p>
				<% unless @favorite %>
				<%= link_to "Add to My favorite", favorite_article_path(@article,:user_id=>current_user.id), :method=>:post, :class=>"btn btn-primary" %>
				<% else %>
				<%= link_to "Remove from My favorite", favorite_article_path(@article,:user_id=>current_user.id), :method=>:delete, :class=>"btn btn-warning" %>
				<% end %>
			</p>


			<!-- Edit and delete -->	
			<% if @article.user == current_user %>
			<p class="edit"><%= link_to "Edit",edit_article_path,:class=>"btn btn-info"%></p>
			<p class="delete"><%= link_to "Delete",article_path, :method=>"delete", :class=>"btn btn-danger", :data=>{:confirm=>"Are you sure?"}%></p>
			<% end %>
		</div><!-- edit-it -->
	</div><!-- article-meta -->


	<!-- show content -->
	<div class="single-article-content show-body">
		<p><%= simple_format(@article.content) %></p>
	</div>


	<!-- show comment -->
	<div class="article-comments">
		<div class="title">
					<h4>Reply</h4>
		</div>

		<table class="table">
			<tr class="table-head">
				<th>Poster</th>
				<th>Comment</th>
				<th>Post time</th>
				<th></th>
				<th></th>
			</tr>

		<% if @comments.count>0 %>
			<% @comments.each do |c| %>
			<tr>
				<td> <%= link_to c.user.username, user_path(c.user) %></td>
				<td> <%=c.content %> </td>
				<td> <%=c.updated_at %></td>
				<td> <%= if c.user == current_user 
							 link_to "Edit", article_path(@article, :comment_id=>c.id) 
							 end %>
				</td>
				<td> <%= if c.user == current_user
							 link_to "Delete", comment_path(@article, :comment_id=>c.id), :method=>"delete", :data=>{:confirm=>"Are you sure?"}
							 end %>

			  </td>
			</tr>
			<% end %><!-- @comments -->
		<% else %>
			<tr>
				<td colspan="5">
					<p class="no-reply">No any reply</p>
				</td>
			</tr>
		<% end %>
	

		</table>

		<div class="post">
			<% method = (@comment.new_record?) ? :post : :patch %>
			<%= form_for @comment, :url=>comment_path(:comment_id=>@comment.id), :method => method do |form|%>
				<%= if current_user
					 form.label :content,("Hi #{link_to current_user.username, user_path(current_user)}, post your comment").html_safe
					else 
					  form.label :content, "Post your comment"
				 end %>
				<br>
				<%= form.text_area :content%>
				<br>
				<%= form.submit "Post", :class=>"btn btn-primary done"%>
			<% end %>
		</div><!-- post -->
	</div><!-- article-comments -->
</div><!-- content-center -->


