<%= render :partial => "side_bar/user", :locals =>{}%>


<div class="content-center">
	<div class="user-info">
		<div><%= image_tag avatar_url(@user)%></div>
		<h3><%= @user.username %></h3>
	</div>


	<div class="user-content user-friends">


		<div class="my_invitations">
			<%= render :partial=>'friends_new.html',:locals=>{:invited_friendships=>@invited_friendships} %>
		</div><!-- invitation -->
		
		<div class="my_friends">
			<%= render :partial=>'friends_completed',:locals=>{:completed_friendships=>@completed_friendships} %>
		</div><!-- My_friends -->
		

		<div class="my_other_users">
			<%= render :partial=>'friends_other',:locals=>{:other_friendships=>@other_friendships} %>
		</div><!-- My_other_friends -->

	</div>	
</div><!-- content-center -->

<script>
	$('.my_friends').on('change','.relation_select',function(){
		 $.ajax({
	    type: "POST",
	    url: $(this).data('url') + "?friend_relation_tag_id="+$(this).val(),
	    dataType: "JSON",
	    success: function(data) {

		    }
		  });
	});

</script>

