<div class="content-left">
	<div class="do-it user-back">
		<%= link_to "Back to forum", articles_path, :class=>"btn btn-info"%>
	</div>
	<ul class="list">
		<li><%= link_to "Profile", user_profile_path(@user), :id=>@user_profile ? "highlighted" : "" %></li>
		<li><%= link_to "Article", articles_user_path(@user), :id=>@post_articles ? "highlighted" : ""  %></li>
		<li><%= link_to "Comments", comments_user_path(@user), :id=>@comments ? "highlighted" : ""  %></li>

		<% if @user == current_user %>
			<li><%= link_to "Favorites", favorite_user_path(@user), :id=>@favorite_articles ? "highlighted" : ""  %></li>
			<li><%= link_to "Draft", draft_user_path(@user), :id=>@draft_articles ? "highlighted" : ""  %></li>
		<% end %>

	</ul>
</div><!-- content-left -->

