<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-top">
	<table class="nav-top-table"><tr>
		<td class="nav-top-table-home">
			<p><%= link_to " Forum",articles_path, :class=>"glyphicon glyphicon-home" %></p>
		</td>

		<td class="nav-top-table-about">
			<p><%= link_to "About this forum", about_articles_path %></p>
		</td>

		<td class="nav-top-table-content">
			<ul>
				<% @categories = Category.all %>
				<%  @categories.each_with_index do |c,index| %>
				<li> <%= link_to c.name, articles_path(:category_id=>index+1) %></li>
				<% end %>
			</ul>
		</td><!--content-->
	</tr></table>
</div><!---title-nav-->


<div class="nav-info">
	<table>
		<tr>
			<td class="nav-info-category-title">
				<h3><%=@active_category.name %></h3>
			</td>

			<td class="nav-info-message">
				<h4  class="nav-info-message-notice">abc<%=flash[:notice]%></h4>
				<p><%if @new_article %>
					<%=@new_article.errors.full_messages.inspect %></p>
		      <%# @person.errors.full_messages.each do |message| %>
					<% end %>				
			</td>
			<td class="nav-info-user">
				<% if current_user %>
					<%= link_to current_user.username,"#", :class=>"glyphicon glyphicon-user" %> &nbsp;&nbsp;&nbsp;
				  <%= link_to('logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-primary") %>
				  <%= link_to('Edit', edit_user_registration_path, :class=>"btn btn-primary")%>
				<% else %>
					<%= link_to "login", new_session_path(:user),:class=>"glyphicon glyphicon-user" %>
				<% end %>
			</td>
		</tr>
	</table>
</div><!-- nav-info -->

<div class="container">
<%= yield %>

</div>
</body>
</html>
