<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-box">
	<div class="nav-top">
		<div class="home">
			<p><%= link_to "",articles_path, :class=>"glyphicon glyphicon-home" %></p>
		</div>

		<div class="about">
			<p><%= link_to "", about_path,:class=>"glyphicon glyphicon-info-sign" %></p>
		</div>

		<div class="message">
			<h4  class="notice"><%=flash[:notice]%></h4>
			<p class="error"><%if @article %>
				<%=@article.errors.full_messages.join(', ') %>
				<% end %>				
			</p>
			<p><%if @category %>
				<%=@category.errors.full_messages.inspect %>
				<% end %>
			</p>
		</div>

		<div class="user-info">
			<div class="user">
				<% if current_user %>
					<%= link_to current_user.username, user_path(current_user), :class=>"glyphicon glyphicon-user" %>
				<% end %>			
			</div>

			<div class="login">
				<% if current_user %>
				  <%= link_to('logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-info") %>
				  <%= link_to('Edit', edit_user_profile_path(current_user), :class=>"btn btn-info")%>

					<% if current_user.role == "admin" %>
					<%= link_to 'admin',admin_articles_path,:class=>"btn btn-warning"%>

					<% end %>

				<% else %>
					<%= link_to "login", new_session_path(:user),:class=>"glyphicon glyphicon-user" %>
				<% end %>
			</div>
		</div>

	</div><!--nav top-->
</div>



<div class="content-body">

	<%= yield %>

</div><!-- content-body -->


</body>
</html>
