<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-item">
	<div class="pull-right nav-item-content">
		<ul>
			<% @categories = Category.all %>
			<%  @categories.each_with_index do |c,index| %>
			<li> <%= link_to c.name, forums_path(:category_id=>index+1) %></li>
			<% end %>
		</ul>
	</div><!--items-->
</div><!---title-nav-->

<div class="nav-user">
	<div class="pull-right nav-user-info">
		<a class="glyphicon glyphicon-user">Login	</a>

	</div>
</div><!-- nav-user -->

<div class="container">
<%= yield %>

</div>
</body>
</html>
