<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-item">
	<div class="pull-right nav-item-content">
		<ul>
			<% @categories = Category.all %>
			<%  @categories.each_with_index do |c,index| %>
			<li> <%= link_to c.name, forums_path(:category_id=>index+1) %></li>
			<% end %>
		</ul>
	</div><!--items-->
</div><!---title-nav-->


<div class="nav-user">

	<div class="pull-left nav-user-active_category">
			<h3><%=@active_category.name %></h3>
	</div>

	<div class="pull-right nav-user-info">
		<% if current_user %>
			<%= link_to current_user.username,"#", :class=>"glyphicon glyphicon-user" %> &nbsp;&nbsp;&nbsp;
		  <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
		<% else %>
			<%= link_to "login", new_session_path(:user),:class=>"glyphicon glyphicon-user" %>
		<% end %>
	</div>
</div><!-- nav-user -->

<div class="container">
<%= yield %>

</div>
</body>
</html>
